<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bíblia</title>
</head>
<body>
    <header style="height:140px;width:100%;margin:0px;top:0;left:0;padding:20px;position:fixed;display:inline"><img src="/img/logo.svg" alt="logo"></header>
    {{{body}}}
</body>
</html>