<div id="main-frame">
	<div id="header">
		<p id="main-title" class="main-title">BÍBLIA</p>
	</div>
	<div id="refferences" class="navigating">
		<div id="box-center">
			<div class="book-page">
			</div>
		</div>
	</div>
</div>
{{{script.static}}}